---
import AppLayout from '@layouts/AppLayout.astro';
import LessonCard from '@/components/lesson/LessonCard.astro';
import { getLangFromPathname } from '@/utils/lang';
import LessonDoc from '@/models/LessonDoc';

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const lessons = await LessonDoc.allTopDocsByLang(lang);

const title = lang === 'zh-cn' ? '教程列表' : 'Build Your Own List';
const description = lang === 'zh-cn' ? '教程列表' : 'Build Your Own List';
---

<AppLayout
  title={title}
  description={description}
  template="splash"
  frontmatter={{
    title: title,
    description: description,
    template: 'splash',
  }}>
  <div
    class="container max-w-screen-lg mx-auto mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-8">
    {lessons.map((lesson) => <LessonCard lesson={lesson} />)}
  </div>
</AppLayout>
