---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import CisumPage from '../components/Cisum/CisumPage.vue';
const lang = Astro.currentLocale ?? 'en';
---

<StarlightPage
  frontmatter={{
    title: 'Cisum',
    template: 'splash',
  }}
  hasSidebar={false}
  headings={[]}>
  <div class="not-content">
    <CisumPage lang={lang} />
  </div>
</StarlightPage>
