---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import GitOKPage from '../components/GitOK/GitOKPage.vue';
const lang = Astro.currentLocale ?? 'en';
---

<StarlightPage
  frontmatter={{
    title: 'GitOK',
    description: 'GitOK',
    template: 'splash',
  }}
  hasSidebar={false}
  headings={[]}>
  <div class="not-content">
    <GitOKPage lang={lang} />
  </div>
</StarlightPage>
