---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import TravelModePage from '../components/TravelMode/TravelModePage.vue';
const lang = Astro.currentLocale ?? 'en';
---

<StarlightPage
  frontmatter={{
    title: 'TravelMode',
    description: '简洁旅行模式',
    template: 'splash',
    draft: false,
  }}
  hasSidebar={false}
  headings={[]}>
  <div class="not-content">
    <TravelModePage lang={lang} />
  </div>
</StarlightPage>
