---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external = false } = Astro.props;
---

<a
  href={href}
  class="px-4 py-2 rounded-xl ring-white/50 no-underline
  hover:ring-1 hover:shadow-2xl hover:bg-green-600/10 hover:backdrop-blur
  text-gray-700
  transform duration-100"
  target={external ? '_blank' : undefined}
  rel={external ? 'noopener noreferrer' : undefined}>
  <slot />
</a>
