---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Header.astro';

const props = Astro.props as Props;
---

<div
    class="bg-gradient-to-r
    from-emerald-900/80 to-indigo-900/70
    dark:from-emerald-900/95 dark:to-indigo-900/95
    rounded-lg px-4">
    <Default {...props} />
</div>
